.model-container {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.532);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
    backdrop-filter: blur(5px);

    .model-content {
        width: 600px;
        // height: 300px;
        background: $secondary-color;
        border-radius: 20px;
        border: 1px solid $primary-color;
        margin: 0 10px;
        transition: all 300ms ease-in-out;

        transform: translateY(-100px);

        .model-header {
            border-bottom: 2px solid $primary-color;

            h4 {
                font-family: FirstJob;
                letter-spacing: 1px;
                color: $primary-color;
                text-transform: uppercase;
                padding: 20px;
                margin: 0;
                width: fit-content;
            }
        }

        .model-main-content {
            padding: 20px;
            min-height: 150px; // set content height

            p {
                color: white;
                font-size: 18px;
            }
        }

        .model-footer {
            border-top: 2px solid $primary-color;
            padding: 20px;

            button {
                outline: none;
                border: none;
                background-color: $primary-color;
                padding: 5px 15px;
                border-radius: 10px;
                color: white;
                transition: all 0.3s;
                margin-right: 4px;

                &:hover {
                    background-color: rgb(14, 14, 14);
                }
            }
        }
    }

    .model-content.active {
        transition: all 300ms ease-in-out;

        transform: translateY(0px);
    }

}


.model-container.active {
    visibility: visible;
    opacity: 1;
}